<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<add name="SFDynamiaTestConnection" connectionString="data source=192.168.242.5;initial catalog=SFDynamiaTest;user id=developer;password=gerEdit!.$;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
		
	</connectionStrings>
</configuration>