<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out">
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out">
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://staging.services.publicar.com/Financial/SAP/1.0/BasicHttp/SI_ReglasSAPFI_Out"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_svc_SI_ReglasSAPFI_Out"
                contract="SAPFinancialRulesService.svc_SI_ReglasSAPFI_Out"
                name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out" />
            <endpoint address="https://staging.services.publicar.com/Financial/SAP/1.0/BasicHttp/SI_ContratoCRMEXT_Out"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out"
                contract="SAPCreateContractService.svc_Financial_SAP_10_BasicHttp_SI_ContratoCRMEXT_Out"
                name="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out" />
            
        </client>
    </system.serviceModel>
</configuration>