

<form action="@Url.Action("runBilling", "Home")" method="post" class="formline">
        <input type="submit" value="INICIAR FACTURACION" />

    </form>

<form action="@Url.Action("runAnnulation", "Home")" method="post" class="formline">
        <input type="submit" value="INICIAR ANULACION" />

    </form>