<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		
		<add name="SFDynamiaTestConnection" connectionString="data source=192.168.242.5;initial catalog=SFDynamiaTest;user id=developer;password=gerEdit!.$;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
		
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out" />
                <binding name="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://staging.services.publicar.com/Financial/SAP/1.0/BasicHttp/SI_ReglasSAPFI_Out"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_svc_SI_ReglasSAPFI_Out"
                contract="SAPFinancialRulesService.svc_SI_ReglasSAPFI_Out"
                name="BasicHttpBinding_svc_SI_ReglasSAPFI_Out" />
            <endpoint address="https://staging.services.publicar.com/Financial/SAP/1.0/BasicHttp/SI_ContratoCRMEXT_Out"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out"
                contract="SAPCreateContractService.svc_Financial_SAP_10_BasicHttp_SI_ContratoCRMEXT_Out"
                name="BasicHttpBinding_svc_Financial_SAP_1.0_BasicHttp_SI_ContratoCRMEXT_Out" />
        </client>
    </system.serviceModel>
</configuration>