<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="SFDynamiaConnection" connectionString="data source=192.168.240.5;initial catalog=SFDynamia;user id=ProductionUsr;password=Desp17012014338ColBog;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
		
	</connectionStrings>
</configuration>