<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SFDynamiaConnection" connectionString="data source=192.168.240.5;initial catalog=SFDynamia;user id=ProductionUsr;password=Desp17012014338ColBog;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
		<add name="SFDynamiaTestConnection" connectionString="data source=192.168.242.5;initial catalog=SFDynamiaTest;user id=developer;password=gerEdit!.$;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
		<add name="localTestConnection" connectionString="data source=172.27.5.181;initial catalog=SFDynamiaFullcopy;user id=juahorca;password=Carvajal2014;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>